---
const {
  class: className,
  firstColor,
  secondColor,
  imgDesktop,
  imgMobile,
  ...otherProps
} = Astro.props;
---

<div class={`relative h-[400px] ${className || ""}`} {...otherProps}>
  <div class={`${firstColor} h-[50%] md:hidden`}></div>
  <div class={`${secondColor} h-[50%] md:hidden`}></div>
  <picture>
    <source media="(min-width: 400px)" srcset={imgDesktop} />
    <source media="(max-width: 400px)" srcset={imgMobile} />
    <img
      src={imgDesktop}
      alt=""
      class="absolute md:relative top-0 left-0 right-0 m-auto max-h-full m-w-full w-full md:w-auto"
    />
  </picture>
</div>

<style>
  @media (min-width: 400px) {
    img {
      max-width: 400px;
    }
  }
</style>
