---
import { getImage } from "astro:assets";

const {
  class: className,
  firstColor,
  secondColor,
  imgDesktop,
  imgMobile,
  alt = "",
  lazy = false,
  ...otherProps
} = Astro.props;

const mobileImage = await getImage({
  src: imgMobile,
  format: "webp",
  width: 1375,
  height: 1429,
});

const desktopImg = await getImage({
  src: imgDesktop,
  format: "webp",
  width: 1448,
  height: 1474,
});
---

<div class={`relative h-[400px] ${className || ""}`} {...otherProps}>
  <div class={`${firstColor} h-[50%] desktop:hidden`}></div>
  <div class={`${secondColor} h-[50%] desktop:hidden`}></div>
  <picture class="flex justify-center">
    <source media="(min-width: 400px)" srcset={desktopImg.src} />
    <source media="(max-width: 400px)" srcset={mobileImage.src} />
    <img
      src={desktopImg.src}
      alt={alt}
      width="1448"
      height="1474"
      loading={lazy ? "lazy" : "eager"}
      class="absolute desktop:relative top-0 left-0 w-full m-auto right-0 desktop:m-0 desktop:w-auto"
      style="aspect-ratio: 1448 / 1474;"
    />
  </picture>
</div>

<style>
  @media (min-width: 400px) {
    img {
      max-width: 400px;
    }
  }
</style>
