---
import { getImage } from "astro:assets";

const {
  class: className,
  firstColor,
  secondColor,
  imgDesktop,
  imgMobile,
  alt = "",
  ...otherProps
} = Astro.props;

const mobileImage = await getImage({
  src: imgMobile,
  format: "webp",
  widths: [375, 750], // Standard and 2x resolution for mobile
  height: 429,
});

const desktopImg = await getImage({
  src: imgDesktop,
  format: "webp",
  widths: [448, 896], // Standard and 2x resolution for desktop
  height: 474,
});
---

<div class={`relative h-[400px] ${className || ""}`} {...otherProps}>
  <div class={`${firstColor} h-[50%] desktop:hidden`}></div>
  <div class={`${secondColor} h-[50%] desktop:hidden`}></div>
  <picture class="flex justify-center">
    <source media="(min-width: 400px)" srcset={desktopImg.src} />
    <source media="(max-width: 400px)" srcset={mobileImage.src} />
    <img
      src={desktopImg.src}
      alt={alt}
      class="absolute desktop:relative top-0 left-0 w-full m-auto right-0 desktop:m-0 desktop:w-auto"
    />
  </picture>
</div>

<style>
  @media (min-width: 400px) {
    img {
      max-width: 400px;
    }
  }
</style>
