---
import H2 from "./h2.astro";
import List from "./list.astro";
import TherapyInfo from "./therapyInfo.astro";

const {
  title,
  onlinePrice,
  onlineTimeInMinutes,
  inPersonPrice,
  inPersonTimeInMinutes,
  description,
  details,
  priceDisclaimer,
} = Astro.props;
---

<article
  id={title}
  class="border-2 border-main06 rounded-default pb-m h-full flex flex-col"
>
  <header class="py-m px-l bg-main06 text-white">
    <p class="text-h4 font-medium leading-h4">Terapia</p>
    <H2>{title}</H2>
  </header>
  <div class="flex flex-col px-l pt-l flex-grow">
    <div class="flex-grow">
      <div class="grid gap-xs">
        <TherapyInfo
          title="Sesión presencial"
          price={inPersonPrice}
          disclaimer={priceDisclaimer}
          time={inPersonTimeInMinutes}
        />
        <TherapyInfo
          title="Sesión online"
          price={onlinePrice}
          disclaimer={priceDisclaimer}
          time={onlineTimeInMinutes}
        />
        {
          priceDisclaimer && (
            <p class="text-info font-normal">*{priceDisclaimer}</p>
          )
        }
      </div>
      <div class="">
        <p class="text-body leading-body mt-6 mb-4">
          {description}
        </p>
      </div>
    </div>
    <details>
      <summary class="text-body font-bold">Cuando acudir</summary>
      <List>
        <li><p>asdasd</p></li>
        <li><p>asdasd</p></li>
        <li><p>asdasd</p></li>
        <li><p>asdasd</p></li>
        <li><p>asdasd</p></li>
        <li><p>asdasd</p></li>
      </List>
    </details>
  </div>
</article>

<style>
  details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    background: url("/chevron_down.svg") center no-repeat;
    content: "";
    color: transparent;
    width: 24px;
  }
  details[open] summary:after {
    background: url("/chevron_up.svg") center no-repeat;
  }
</style>
