---
import H2 from "./h2.astro";
import List from "./list.astro";
import TherapyInfo from "./therapyInfo.astro";

interface TherapyCardProps {
  title: string;
  onlinePrice: string;
  onlineTimeInMinutes: number;
  inPersonPrice: string;
  inPersonTimeInMinutes: number;
  description: string;
  details: string[];
  priceDisclaimer?: string;
}

const {
  title,
  onlinePrice,
  onlineTimeInMinutes,
  inPersonPrice,
  inPersonTimeInMinutes,
  description,
  details,
  priceDisclaimer,
} = Astro.props as TherapyCardProps;
---

<article
  id={title}
  class="border-2 border-main06 rounded-default h-full flex flex-col"
  aria-label={`Therapy card for ${title}`}
>
  <header class="py-m px-l bg-main06 text-white flex">
    <div class="flex-grow desktop:h-[80px]">
      <p class="text-h4 font-medium leading-h4">Terapia</p>
      <H2>{title}</H2>
    </div>
  </header>
  <div class="flex flex-col px-l py-l">
    <div class="mb-4">
      <div class="grid gap-xs">
        <TherapyInfo
          title="Sesión presencial"
          price={inPersonPrice}
          disclaimer={priceDisclaimer}
          time={inPersonTimeInMinutes}
        />
        <TherapyInfo
          title="Sesión online"
          price={onlinePrice}
          disclaimer={priceDisclaimer}
          time={onlineTimeInMinutes}
        />
        {
          priceDisclaimer && (
            <p class="text-info font-normal">*{priceDisclaimer}</p>
          )
        }
      </div>
      <div class="mt-6 h-[201px]">
        <p class="text-body leading-body">
          {description}
        </p>
      </div>
    </div>
    <details>
      <summary class="text-body font-bold cursor-pointer">
        Cuando acudir
      </summary>
      <List class="mt-6">
        {
          details.map((detail) => (
            <li>
              <p>{detail}</p>
            </li>
          ))
        }
      </List>
    </details>
  </div>
</article>

<style>
  article {
    min-height: 550px;
    display: flex;
    flex-direction: column;
  }

  details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: "";
    background: url("/chevron_down.svg") center no-repeat;
    width: 24px;
    height: 24px;
  }

  details[open] summary::after {
    background: url("/chevron_up.svg") center no-repeat;
  }

  @media (min-width: 400px) {
    article {
      min-height: 550px;
    }
  }
</style>
