---
import H2 from '@components/h2.astro';
import List from './list.astro';
import TherapyInfo from './therapyInfo.astro';
import TimeDisplay from './ui/timeDisplay.astro';

interface TherapyCardProps {
  title: string;
  onlinePrice?: string;
  onlineTimeInMinutes: number;
  inPersonPrice?: string;
  inPersonTimeInMinutes: number;
  description: string;
  details: string[];
  priceDisclaimer?: string;
  displayPrice: boolean;
}

const {
  title,
  onlinePrice,
  onlineTimeInMinutes,
  inPersonPrice,
  inPersonTimeInMinutes,
  description,
  details,
  priceDisclaimer,
  displayPrice,
} = Astro.props as TherapyCardProps;
---

<article
  id={title}
  class="border-2 border-main06 rounded-default h-full flex flex-col"
  aria-label={`Therapy card for ${title}`}
>
  <header class="py-m px-l bg-main06 text-white flex">
    <div class="flex-grow md:h-[80px]">
      <p class="text-h4 font-medium leading-h4">Terapia</p>
      <H2>{title}</H2>
    </div>
  </header>
  <div class="flex flex-col px-l py-l">
    <div class="mb-4">
      <div class="grid gap-xs">
        {
          displayPrice ? (
            <>
              <TherapyInfo
                title="Sesión presencial"
                timeInMinutes={inPersonTimeInMinutes}
                price={inPersonPrice}
              />
              <TherapyInfo
                title="Sesión online"
                timeInMinutes={onlineTimeInMinutes}
                price={onlinePrice}
              />
              {priceDisclaimer && (
                <p class="text-info font-normal">*{priceDisclaimer}</p>
              )}
            </>
          ) : (
            <div class="grid gap-xs">
              <p class="text-info font-bold leading-info">Duración sesión:</p>
              <TimeDisplay timeInMinutes={inPersonTimeInMinutes} />
            </div>
          )
        }
      </div>

      <div class="mt-6 h-[201px]">
        <p class="text-body leading-body">
          {description}
        </p>
      </div>
    </div>
    <details>
      <summary class="text-body font-bold cursor-pointer">
        Cuándo acudir
      </summary>
      <List class="mt-6">
        {
          details.map(detail => (
            <li>
              <p>{detail}</p>
            </li>
          ))
        }
      </List>
    </details>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
  }

  details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: '';
    background: url('/chevron_down.svg') center no-repeat;
    width: 24px;
    height: 24px;
  }

  details[open] summary::after {
    background: url('/chevron_up.svg') center no-repeat;
  }
</style>
