---
import Clock from '@icons/clock.astro';
import BadgeSmall from '@ui/badgeSmall.astro';
import List from '@ui/list.astro';
import Heading from '@ui/heading.astro';
import TimeDisplay from '@components/ui/timeDisplay.astro';

interface SummaryTherapyCardProps {
  id: string;
  title: string;
  price?: string;
  time: number;
  details: string[];
}
const { id, title, price, time, details } =
  Astro.props as SummaryTherapyCardProps;
---

<a href=`/terapias#${id}` aria-label=`ver detalles de la terapia ${title}`>
  <article
    class="hover:bg-[#d1e3e0] py-m px-l border-2 rounded-default h-full bg-neutral03 border-main06"
  >
    <div class="flex flex-col h-full">
      <Heading as="h3">{title}</Heading>
      <div class="flex gap-s align-middle items-center mt-2">
        {price ? <BadgeSmall price={price} /> : null}
        <TimeDisplay timeInMinutes={time} />
      </div>
      <div class="my-6 flex-grow">
        <List>
          {
            (details ?? []).map(detail => (
              <li>
                <p>{detail}</p>
              </li>
            ))
          }
        </List>
      </div>
      <span
        class="text-action font-medium underline text-main07 underline-offset-4"
        >Saber más</span
      >
    </div>
  </article>
</a>
