---
import Doctoralia from "@icons/doctoralia.astro";
import Instagram from "@icons/instagram.astro";
import Linkedn from "@icons/linkedn.astro";
import LogoBlackAndWhite from "@icons/logoBlackAndWhite.astro";

import { personalData } from "@content/personalData";
---

<footer
  class="bg-neutral08 desktop:items-start desktop:py-xxl desktop:gap-y-[0px] desktop:px-xxxl p-l pb-xxxl text-white grid gap-xl desktop:grid-cols-2"
>
  <div class="flex justify-between desktop:flex-row-reverse desktop:order-2">
    <a href="/" aria-label="Ir inicio página" class="w-8 h-12">
      <LogoBlackAndWhite />
    </a>
    <div class="flex gap-s">
      <a
        href={personalData.socialMedia.instagram}
        aria-label="perfil de Instagram"
        target="_blank"
        class="w-6 h-6"
      >
        <Instagram />
      </a>
      <a
        href={personalData.socialMedia.linkedin}
        aria-label="perfil de LinkedIn"
        target="_blank"
        class="w-6 h-6"
      >
        <Linkedn />
      </a>
      <a
        href={personalData.socialMedia.doctoralia}
        aria-label="perfil de Doctoralia"
        target="_blank"
        class="w-6 h-6"
      >
        <Doctoralia />
      </a>
    </div>
  </div>
  <div class="grid gap-m desktop:order-1 desktop:row-span-2">
    <span class="text-info font-bold leading-info">Contacto</span>
    <div class="grid gap-xs desktop:gap-xs text-info font-normal leading-info">
      <a href={`tel:${personalData.phone}`} target="_blank"
        >{personalData.phone}</a
      >
      <a href={`mailto:${personalData.email}`} target="_blank"
        >{personalData.email}</a
      >
      <a href={personalData.addressLink} target="_blank"
        >{personalData.addressText}</a
      >
    </div>
  </div>
  <div class="grid gap-m desktop:order-3 desktop:gap-xs">
    <span class="text-info font-bold leading-info">{personalData.fullname}</span
    >
    <p class="text-info font-normal leading-info">
      {personalData.psychologistNumber}
    </p>
  </div>
</footer>
