---
import Doctoralia from "@icons/doctoralia.astro";
import Instagram from "@icons/instagram.astro";
import Linkedn from "@icons/linkedn.astro";
import LogoBlackAndWhite from "@icons/logoBlackAndWhite.astro";

import { personalData } from "@content/personalData";
---

<footer
  class="bg-neutral08 md:items-start md:py-xxl md:gap-y-[0px] md:px-xxxl p-l pb-xxxl text-white grid gap-xl md:grid-cols-2"
>
  <div class="flex justify-between md:flex-row-reverse md:order-2">
    <a href="/" aria-label="Ir inicio página" class="w-8 h-12">
      <LogoBlackAndWhite />
    </a>
    <div class="flex gap-s">
      <a
        href={personalData.socialMedia.instagram}
        aria-label="perfil de Instagram"
        class="w-6 h-6"
      >
        <Instagram />
      </a>
      <a
        href={personalData.socialMedia.linkedin}
        aria-label="perfil de LinkedIn"
        class="w-6 h-6"
      >
        <Linkedn />
      </a>
      <a
        href={personalData.socialMedia.doctoralia}
        aria-label="perfil de Doctoralia"
        class="w-6 h-6"
      >
        <Doctoralia />
      </a>
    </div>
  </div>
  <div class="grid gap-m md:order-1 md:row-span-2">
    <span class="text-info font-bold leading-info">Contacto</span>
    <div class="grid gap-xs md:gap-xs text-info font-normal leading-info">
      <a href={`tel:${personalData.phone}`} class="">{personalData.phone}</a>
      <a href={`mailto:${personalData.email}`}>{personalData.email}</a>
      <a href="">{personalData.address}</a>
    </div>
  </div>
  <div class="grid gap-m md:order-3 md:gap-xs">
    <span class="text-info font-bold leading-info">{personalData.fullname}</span
    >
    <p class="text-info font-normal leading-info">
      {personalData.psychologistNumber}
    </p>
  </div>
</footer>
