---
import H4 from "@components/h4.astro";
import SummaryTherapyCard from "@components/summaryTherapyCard.astro";
import ChevronRight from "@icons/chevronRight.astro";
import { therapies } from "src/content/therapies";
---

<section class="md:px-xxxl py-xl">
  <H4 class="font-medium px-l">Escoje la terapia que mejor se adapte a ti:</H4>
  <div class="flex mt-8">
    <div class="flex items-center p-s">
      <button
        class="swiper-button-prev-unique"
        aria-label="mover carrusel a la izquierda"
      >
        <ChevronRight class="rotate-180" />
      </button>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          therapies.map((card) => (
            <li class="swiper-slide">
              <SummaryTherapyCard
                id={card.title}
                title={`Terapia ${card.title}`}
                price={card.inPersonPrice}
                time={card.inPersonTimeInMinutes}
                details={card.summaryDetails}
              />
            </li>
          ))
        }
      </div>
    </div>
    <div class="flex items-center p-s">
      <button
        class="swiper-button-next-unique"
        aria-label="mover carrusel a la derecha"
      >
        <ChevronRight />
      </button>
    </div>
  </div>
</section>

<style>
  .swiper-button-next-unique,
  .swiper-button-prev-unique {
    width: 24px;
    height: 24px;
  }

  .swiper-button-next-unique::after,
  .swiper-button-next-unique::after {
    content: "";
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
  }
</style>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>

<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  new Swiper(".swiper", {
    slidesPerView: 1,
    spaceBetween: 40,
    navigation: {
      prevEl: ".swiper-button-prev-unique",
      nextEl: ".swiper-button-next-unique",
    },
    breakpoints: {
      20: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      580: {
        slidesPerView: 2,
        spaceBetween: 40,
      },
      1200: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
  });
</script>
