---
import Heading from '@components/ui/heading.astro';
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BlogLayout from 'src/layouts/BlogLayout.astro';
import Layout from 'src/layouts/Layout.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: any) => ({
    params: { post: post.id },
    props: { post },
  }));
}

const { post } = Astro.props as Props;
const { Content } = await render(post);
const { title, thumbnail, date } = post.data;

const formattedDate = new Intl.DateTimeFormat('es-ES', {
  dateStyle: 'medium',
}).format(new Date(date));
---

<Layout title={title}>
  <BlogLayout>
    <div
      class="py-xl desktop:py-xxxl desktop:px-xxxl grid desktop:grid-flow-col desktop:gap-xl desktop:justify-center"
    >
      <div
        class="grid gap-xs desktop:gap-s px-l desktop:px-0 desktop:max-w-[630px] desktop:py-0"
      >
        <img
          src={thumbnail.src}
          alt=""
          height="270"
          class="w-full h-[370px] object-cover rounded-default"
          transition:name={`post-thumbnail-${post.id}`}
        />
        <Heading as="h1" variant="h2" transition:name={`post-title-${post.id}`}
          >{title}</Heading
        >
        <time
          datetime={formattedDate}
          class="text-neutral07 text-info"
          transition:name={`post-date-${post.id}`}
        >
          {formattedDate}
        </time>

        <section class="markdown-content h-min p-5 mt-10">
          <Content />
        </section>
      </div>
    </div>
  </BlogLayout>
</Layout>

<style is:inline>
  ul,
  ol {
    padding-left: 20px;
    margin: 1em 0;
  }
  ul {
    list-style: circle;
  }

  ol {
    list-style: decimal;
  }
  .markdown-content h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin: 1em 0;
  }

  .markdown-content h2 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin: 1em 0;
  }
  .markdown-content h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin: 1em 0;
  }

  .markdown-content h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin: 1em 0;
  }
  .markdown-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

    margin-block: 1em;
    margin-block: 1lh;
  }
</style>
